body {
    margin: 0;
    font-family: 'Futura PT', sans-serif;
    background-color: #333333; /* Dark charcoal */
    color: #f8f9fa; /* Off-white */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: #F5F5F5; /* White background for header */
    height: 200px; /* Adjust this value for more/less height */
}

header div, nav a {
    color: #333333; /* Dark charcoal font */
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
}

.content img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.content div {
    max-width: 60%;
}

.skills, .projects, .contact {
    text-align: left;
    margin: 2em;
}

.skills ul, .projects ul {
    list-style-type: none;
    padding: 0;
}

.skills li, .projects li {
    background-color: #e07a5f;
    color: #333333;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
}

.contact input, .contact textarea {
    display: block;
    width: 100%;
    margin: 0.5em 0;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
}

.contact button {
    background-color: #e07a5f;
    color: #333333;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
